{% comment %} {% load static %}
{% load i18n %} {% endcomment %}

<!doctype html>
<html  class="no-js"><!--------Theme Shered by Codingyar.com--------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title%}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body dir='rtl'>

    {% block content %}
    {% endblock content %}

</body>

</html>