{% extends '_base.html' %}

{% load i18n %}
{% load humanize %}

{% load farsi_tags %}

{% block title %}{% trans 'Products List' %}{% endblock %}

{% block content %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper container-fluid">

        <!-- Shoes -->
        <div class="shop-page-wrapper shop-fullwidth">

            {% trans 'Shoes' as cat_name %}
            {% include 'products/category_header.html' with name=cat_name %}

            {% for shoe in men_shoes %}
            	{{ shoe.title }}
            {% endfor %}


        </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock %}
