{% load static %}
{% load i18n %}
{% load product_tags %}
{% load farsi_tags %}
{% load humanize %}

<div class="col-xl-2 col-md-4 col-sm-9 mb--20">
    <div class="ShoppingYar-product">
        <div class="product-inner">
            <figure class="product-image">
                <a href="{{ product.get_absolute_url }}">
                    <img src="
                            {% if product.covers.all %}{{ product.covers.first.cover.url }}{% else %}{% static 'img/products/prod-1.jpg' %}{% endif %}"
                         alt="Products" height="200px">
                </a>
                <div class="ShoppingYar-product-action">
                    <div class="product-action d-flex">
                        <a href="{% url 'users:favorite_create' %}" class="action-btn">
                            <i class="flaticon flaticon-like"></i>
                        </a>
                    </div>
                </div>
                {% if product.offer %}
                    <span class="product-badge">{% trans 'Special Offer' %}</span>
                {% endif %}
            </figure>
            <div class="product-info">
                <div style="float: right;">
                    {% with product.get_active_variants_colors|dict_first_three_elements as colors %}
                    {% for color_display in colors.values %}
                        <div class="circleBase type_free" style="background-color: {{ color_display }};"></div> &nbsp; &nbsp; &nbsp;
                    {% endfor %}
                    {% if product.get_active_variants_colors|length > 3 %}
                        <div class="circleBase type_free">+</div> &nbsp; &nbsp; &nbsp;

                    {% endif %}
                    {% endwith %}
                </div>
                <br>
                <div>
                <h3 class="product-title h6 mb--15">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h3>
                </div>
                <div class="product-price-wrapper mb--30">
                    {% if product.offer %}
                        <span class="money-separator"></span>
                        <span class="old-price text-danger">
                            <span class="money text-danger">{{ product.price|intcomma:False|number_farsi }} {% trans 'Toman' %}</span>
                        </span>
                        <span class="money text-success">{{ product.offer_price|intcomma:False|number_farsi }} {% trans 'Toman' %}</span>
                    {% else %}
                        <span class="money">{{ product.price|intcomma:False|number_farsi }} {% trans 'Toman' %}</span>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
